* {
  margin: 0px;
  padding: 0px;
}


.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900
*/
.doto-test {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.rubik-lines-regular {
  font-family: "Rubik Lines", system-ui;
  font-weight: 400;
  font-style: normal;
}



  
  
  .container {
    text-align: justified;
    padding: 20px;
    margin-top: 200px;
  }
  
  /* Change the cursor color */
.typejs-cursor {
  color: white;  /* Change to your desired color */
}
  
  .footer {
    color: #FFF6E9 ;
    text-align: center;
    margin-top: 200px;
    font-size: 1.5rem;
    font-style: italic;
    padding: 50px;
    margin-bottom: 50px;
  }

  
   h2 {
      font-size: 5rem;
      text-align: center;
    }


img[src^="twitter"] {
  width: 80px;
  height: 100%;
}

img[src$="svg"] {
  width: 90px;
  height: 100%;
}

img[src$="png"] {
  width: 110px;
  height: 100%;
}

.web {
  display: flex;
  justify-content: center;
   margin-top: 300px;
}


.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  gap: 50px;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

